{% extends 'core/base.html' %}
{% block title %}Ps4{% endblock %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<style>
        .page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }

  .page-item.disabled .page-link {
    color: #868e96;
    pointer-events: none;
    background-color: #343a40;
    border-color: #ddd;
  }

  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: darkorange;
    background-color: black;
    border: 1px solid #ddd;
  }

  .page-link:focus, .page-link:hover {
    color: #343a40;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #ddd;
  }
</style>
    <div class="container">
        <div class="columns mt-4 mb-4">
            <class class="card-deck">
                {%for i in juegos%}
                <div class="card bg-dark text-white">
                    <img class="card-img-top" 
                    src="{{ i.image.url }}" 
                    alt="Imagen" 
                    style="width: 100%"
                    id="imageCardSteamPage">
                    <div class="card-body" id="steam-steamCard">
                        <h4 class="card-title" style="color: darkorange;">
                            {{ i.title }}</h4>
                        <p class="card-text">
                            {{ i.description|safe }}
                        </p>
                        <h6 style="color:peru ;">Antes <del>$ {{ i.precio }}</del></h6>
                        <h5 style="color: whitesmoke">Ahora $ {{ i.precio_oferta }}</h5>                    
                    </div>
                    <div class="card-footer" id="steam-footercard">
                        <a class="btn btn-secondary" href="#" style="background-color: peru ;">Agregar al carrito</a>
                    </div>
                </div>
                {%endfor%}
            </class>
        </div>
    </div>
    [
    <div class="row justify-content-center text-secondary mt-4 mb-4">
        {% if juegos.has_other_pages %}
            <nav aria-label="Paginación Proyectos">
                <ul class="pagination">
                    {% if juegos.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{juegos.previous_page_number}}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</a></li>
                    {% endif %}

                    {% for i in juegos.paginator.page_range %}
                        {% if juegos.number == i %}
                            <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if juegos.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{juegos.next_page_number}}">&raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</a></li>
                    {% endif %}      
                </ul>
            </nav>
        {% endif %}
    </div>
    ]   
{% endblock %}
{% block addScript %}
{% endblock %}
