<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sitio principal Gamestore">
    <meta name="author" content="Diego O." content="Braulio F." content="Maeva M." content="Cristian S.">
    <meta name="keywords" content="html, style">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- CSS FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <title>{% block title %}Base{% endblock %} | GameStore</title>
    
    <!--Styles && Fonts-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'core/assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'core/assets/css/noscript.css' %}" /></noscript>

</head>
    <body class="is-preload">
        <div id="wrapper">
            {% block cover %}
                <header>
                    <div class="cover d-flex justify-content-center align-items-bottom flex-column img-fluid img-responsive" style="width: 100%;">
                        <img src="{% static 'core/images/portada_index4.png' %}" style="height: 9cm;" alt="">
                    </div>
                </header>
            {% endblock %}
            <header id="header">
                <div class="inner">
                <!-- Logo -->
                    <a href="{% url 'home' %}" class="logo">
                        <span class="symbol"><img src="{%static 'core/images/logo.svg' %}" alt="" /></span>
                        <span class="title">Phantom</span>
                    </a>
                <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- NavBar -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'ps4' %}">Ps4</a></li>
                    <li><a href="{% url 'steam' %}">Steam</a></li>
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                    <li><a href="{% url 'aboutUs' %}">Acerca de</a></li>
                </ul>
            </nav>
            <!-- NavBar -->

            <!--Template tags-->
            {% block pageTitle %}{% endblock %}
            {% block content %}{% endblock %}
            <!--Template tags-->

        </div>
    </body>
    <!-- Footer -->
    <div id="wrapper">
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="primary" /></li>
                        </ul>
                    </form>
                </section>
                <section class="col-md-2 text-left">
                    <h2>Síguenos en</h2>
                    <ul class="icons">
                        <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                        <li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>													
                    </ul>
                </section>
                <ul class="copyright">
                    <li>&copy; Copyright © 2020 GameStore. Todos los derechos reservados. SA “Baltikapo's play”, DuocUc, San Joaquin.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>
    </div>
	<!-- Footer -->
    <!-- Scripts -->
	<script src="{% static 'core/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'core/assets/js/browser.min.js' %}"></script>
	<script src="{% static 'core/assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'core/assets/js/util.js' %}"></script>
	<script src="{% static 'core/assets/js/main.js' %}"></script>
</html>